.App{
    background: #FBFCFD;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: center;

}

.relative{
    position: relative;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.container{
    max-width: 1024px;
}

.absolute{
    position: absolute;
}

.list-style-none{
    list-style: none;
}

.p-0{
    padding: 0;
}

.m-0{
    margin: 0 !important;
}

.pb-0{
    padding-bottom: 0;
}

.mb-0{
    margin-bottom: 0 !important; 
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.w-100{
    width: 100%;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-start{
    justify-content: flex-start;
}

a{
    cursor: pointer;
}